<% content_for :primary_content do %>
  <p id="notice"><%= notice %></p>

  <h1>Submissions</h1>
  <%# @submissions.each do |submission| %>
  <%# end %>
  <% if @submissions.exists? %>
   <%= render @submissions %>
  <% else %>
    <div class="p-10 text-center">
      <%= render_svg "icons/empty" %>
      <p class="mb-4">Wow such empty...</p>
      <%= link_to "Create a new submission", new_submission_path, class: "btn btn-purple btn-small" %>

    </div>
  <% end %>
<% end %>

<% content_for :secondary_content do %>
  <%= link_to 'New Submission', new_submission_path %>
<% end %>

<%#= because the partial is on the views/application folder we can just pass the
name of the file directly without typing in the name of the folder, when we do not pass
the folder name rails goes into views/application folder automatically and grabs the content of the file. %>
<%= render "basic_layout" %>
